<html ng-app="apiApp">
	<head>
		<link rel="stylesheet" href="master.css" media="screen" title="no title" charset="utf-8">
	</head>
	<body ng-controller="ctrl">


		<div class="result">
			<div class="image">
				<img src="#" alt="" id="pokePic"/>
			</div>
			<h1 id="pokeName"></h1>
		</div>
		<div class="illusion">

		</div>
		<div class="search">
			<input type="text" name="name" value="" ng-model="pokeToFind">
			<button id="searchBtn" type="button" name="button" ng-click="contactApi(pokeToFind)">Find The Pokemon</button>
		</div>






		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
